# TTS Provider Selection
TTS_PROVIDER="openai"  # elevenlabs, openai

# ElevenLabs Configuration (required if using ElevenLabs)
# ELEVENLABS_API_KEY=your_elevenlabs_api_key

# OpenAI Configuration (required if using OpenAI)
OPENAI_API_KEY=your_openai_api_key


GOOGLE_API_KEY=your_key_here

# optional for OpenAI compatible TTS endpoints
OPENAI_ENDPOINT='your endpoint here'


# These options are for use with the Kokoro TTS provider
# Voice selection
# OPENAI_VOICE=af_heart
# Model selection
# OPENAI_MODEL=kokoro
